<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codes">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".messages.ChatLogActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.HomeActivity" />
        </activity>


        <activity
            android:name=".messages.NewMessageActivity"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".messages.HomeActivity" />
        </activity>
        <activity android:name=".messages.HomeActivity" />
        <activity
            android:name=".registerlogin.LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerlogin.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>